body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('CalculatorBg.png');
    margin-top: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: center;
    color: rgb(94, 146, 6);
}
.container{
    display: flex;
    flex-direction: column;
    width: 380px;
    background-color: greenyellow;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 10px 10px 15px rgb(32, 171, 7);
    
}
#input{
    background: rgb(9, 173, 160);
    padding: 10px;
    text-align: right;
    font-size: 3rem;
    overflow: hidden;
    
}
.Calculator{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2px;
    background: rgb(160, 172, 26);
}
.btn{
    padding: 10px;
    font-size: 2rem;
    background: aqua;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    transition: background0.2s;

}
.btn:hover{
    background: rgb(95, 161, 13);
}
.equal{
    background: blueviolet;
}
.clear{
    background: blueviolet;
    margin: 1px;
}
/* Adding media query */
@media (max-width:480px){
    .Calculator{
        padding: 10px;
    }
    button{
        height: 50px;
        font-size: 20px;
    }
}
@media (max-width:320px){
    button {
height: 40px;
font-size: 15px;
    }
    #input{
        height: 40px;
        font-size: 15px;
    }
}
